@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
    background-color: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
}

h1 {
    font-size: 8.5rem;
    color: #fff;
    margin-bottom: 5rem;

}

a {
    font-size: 5rem;
    text-decoration: none;
    color: #fff;
    margin:1.5rem;
}

a:hover {
    cursor: pointer;
    font-size: 5rem;
    text-decoration: none;
    color: rgb(114, 201, 93);
    margin:1.5rem;
    text-shadow: 0 0 4rem black;
}

.home {
    justify-content: space-around;
    display: flex;
    margin: 5% auto;
}

.score {
    font-size: 5rem;
    margin: 3rem;
    color: #fff;

}

.highscores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(119, 119, 119);
    width: 60vw;
    height: auto;
    margin: 5% auto;
    border-radius: 3rem;
}

.prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    text-align: center;
}

.q-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 10% auto;
}

.qc-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    
}

.qc-header h1 {
    font-size: 5rem;
    color: #fff;
    margin: 0;
}

.qc-header h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.question {
    margin: 2rem auto;
}

.question h2 {
    font-size: 3rem;
    color: #fff;
}

.choice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.choice-container p {
    font-size: 2.5rem;
    color: #fff;
    margin: 1rem 2rem;
}

.choice-box {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 2rem auto;
    border: 0.5rem solid rgb(119, 119, 119);
    border-radius: 2rem;
}

.choice-box:hover {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    margin: 2rem auto;
    border: 0.5rem solid #fff;
    border-radius: 2rem;
}

@media screen and (max-width: 980px){
    h1 {
        font-size: 7rem;
    }
    a {
        font-size: 4.1rem;
    }
    .score {
        font-size: 3rem;
    }
    .highscores {
        width: 80vw;
    }
}
@media screen and (max-width: 575px){
    h1 {
        font-size: 5rem;
    }
    a {
        font-size: 2.9rem;
    }
}